form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }

input[type='text'], [type='email'] {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}

input[type='submit'] {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: blueviolet;
    font-size: 16px;
    color: white;
    font-weight: bolder;
}

.form-container {
    height: 100vh;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green ;
    font-weight: bold;
}

