nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 1rem 0;
  }

nav
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 100%;
    margin-right: 20px;
    font-weight: bolder;
}

