body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  text-align: center;
  margin-top: 0;
}

h2 {
  text-align: center;
  margin-top: 0;
}

a {
  color:cadetblue;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
} 

.dentist-img {
  width: 230px;
  height: 200px;
  border-radius: 5px;
}

.fav-button-img {
  width: 20px;
  height: 20px;
}

.dark {
  background-color: #343434;
  color: white;
}

.light {
  background-color: white;
  color: #343434;
}

.light-nav {
  background-color: lightcyan;
  color: black ;
  opacity: 80%;
}

.dark-main {
  background-color: #212121;
  color: white;
}

.light-main {
  background-color: #dddddd;
  color: #343434;
}

.light-footer {
  background-color:lightcyan;
  color: #343434;
  opacity: 90%;
}

.dark-footer {
  background-color: #343434;
  color: white;
  opacity: 90%;
}